body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.top, .footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

.header, .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 180px;
  padding-bottom: 100px;
}

.header {
  font-size: 24px;
  gap: 18px;
  padding: 10px 0 100px 0;
}

.title-text-container {
  max-width: 400px;
}

.title-text {
  font-size: 48px;
  font-weight: 900;
}

.title-image {
  background-color: grey;
  padding: 100;
  width: 300px;
  display: flex;
  justify-content: center
}

.header-logo {
  margin-right: auto;
}

.header-link, .title-sub-text {
  font-size: 18px;
  color: #E5E7EB;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.info-title {
  margin: 40px 0;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.info-cards {
  display: flex;
  gap: 30px;
  text-align: center;
}

.info-card {
  width: 150px;
  color: grey;
}

.info-image {
  border-radius: 10px;
  border: 3px solid #3882F6;
  height: 150px;
  margin-bottom: 5px;
}

.quote {
  background-color: #E5E7EB;
  padding: 80px 20%;
}

.quote-text {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: #1F2937;
  font-weight: lighter;
  font-size: 36px;
  padding-bottom: 10px;
}

.quote-author {
  text-align: right;
  font-weight: 900;
  font-size: 18px;
}

.sign-up {
  border-radius: 10px;
  background: #3882F6;
  margin: 50 180px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;;
  padding: 0 5%;
  color: #F9FAF8;
}

.sign-up-text-title {
  font-size: 18px;
  font-weight: 500;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 0;
}

.end-button {
  border: 2px solid #F9FAF8;
}



